<nav class="mx-12 pt-8 h-auto flex justify-between items-center">
    <div>
        <a href="{% url 'index'%}"><img src="./assets/Logo.png" alt="Sunbeam Blog"></a>
    </div>
    <ul class="flex items-center space-x-10 font-semibold invisible md:visible">
        <li class="hover:underline"><a href="./index.html">Products</a></li>
        <li class="hover:underline"><a href="./blog.html">Services</a></li>
        <li class="hover:underline"><a href="./about.html">About</a></li>
        <button class="border-2 border-black px-6 py-2 rounded-full font-semibold">Log in</button>
        <i class="fa fa-bars visible md:invisible" aria-hidden="true"></i>
    </ul>
</nav>