<nav class=" mx-12 pt-8 h-auto flex justify-between items-center font-serif">
    <div>
        <a href="{% url 'index'%}" class="font-bold text-2xl">Sunbeam Blog</a>
    </div>
    <ul class="flex items-center space-x-10 font-semibold invisible md:visible">
        {% if request.user.is_authenticated %}
          <button class="border-2 border-gray-500 px-6 py-1 rounded-lg font-semibold"><a href="{% url 'logout' %}">Sign out</a></button>
        {% else %}
        <button class="border-2 border-gray-500 px-6 py-1 rounded-lg font-semibold"><a href="{% url 'login' %}">Log in</a></button>
        <button class="border-2 border-gray-500 px-6 py-1 rounded-lg font-semibold"><a href="{% url 'register' %}"> Sign up</a></button>
        {% endif %}
        <i class="fa fa-bars visible md:invisible" aria-hidden="true"></i>
    </ul>
</nav>